<form {{on "submit" this.submit}} class="py-8" id="answer-form">
  <div>
    <Textarea
      @value={{this.body}}
      placeholder="Write your answer..."
      class="rounded-lg shadow-sm p-6 mt-2 w-full h-36"
    />
  </div>

  <div class="mt-4">
    <button
      class="block w-fit rounded-lg shadow-md hover:shadow-lg bg-blue-500 hover:bg-blue-600 hover:cursor-pointer text-center text-white font-bold rounded py-2 px-4"
      type="submit"
    >Add Answer</button>
  </div>
</form>